div {
	Border: black 10px solid;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: blue;
	padding-left: auto;
	padding-right: auto;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}